/* CSS Document */

@media screen and (max-width:575.96px){
	
	/** area-menu-user **/
	header .menu-user{
		height: 50px;
	}
	header .menu-user .nav{
		margin-left: -25px;
	}
	/** end area-menu-user**/
	
	/** area-search-carrinho  **/
	.header-search-carrinho .navbar-brand{
		visibility: hidden;
	}
	.header-search-carrinho .search .form-inline{
		width:  240px;
		margin-left: -230px;
	}
	.header-search-carrinho .search .btn{
		margin-left: 240px;
		margin-top: -50px;
	}
	/** end area-search-carrinho  **/
	
	/** area compras **/
	.cart-section .product-count{
	background: none repeat scroll 0 0 black;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	top: 52px;
	right: 55px;
	text-align: center;
	color: #fff;
	display: inline-block;
	opacity: .8;
	position: absolute;
}
	/** end area compras**/

	/** area slide  **/
	
	/** end slide **/
}