/* CSS Document */

/** area menu user **/
header .menu-user{
	height: 35px;	
}
header .menu-user .nav .nav-item i{
	padding-right: 5px;
}
header .menu-user .nav .nav-item .nav-link{
	color: #fff;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

/** area saudacao **/
header .area-saudacao{
	text-align: center;
	right: -474px;
}
header .area-saudacao .row{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	height: 35px;
}

/** end area saudacao**/

/** area dropdown **/
header .menu-user .nav .drop-user-conta .dropdown-menu{
	margin-top: -5px;
	padding-bottom: 18px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	width: 180px;
}
header .menu-user .nav .drop-user-conta .dropdown-menu .btn{
	width: 140px;
	margin-left: 20px;
	margin-top: 10px;
}/** end dropdown **/

/** aera search e carrinho **/
	/** area logo **/
.header-search-carrinho .navbar-brand:hover{
	opacity: .7;
}/** end area logo **/
	/** area form search **/
.header-search-carrinho .search .form-inline{
	height: 50px;
	width: 550px;
	margin-left: 60px;
	border-radius: 30px;
	margin-top: 11px;
}
.header-search-carrinho .search .form-control{
	margin-left: 0px;
	width: 500px;
	height: 50px;
	border-radius: 30px 0px 0px 30px;
}
.header-search-carrinho .search .btn{
	border-radius: 0px 30px 30px 0px;
	height: 50px;
	width: 50px;
}/** end area form search **/

/** area compras **/
.cart-section{
	width: 220px;
	margin-left: 40px;
	text-align: center;
}
.cart-section .product-valor{
	width: 120px;
	margin-left: 10px;
	margin-top: 5px;
}
.cart-section .product-valor span{
	color: #fff;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 15pt;
}
.cart-section .cart-img-section{
	border-style: solid;
	border-color: #fff;
	width: 50px;
	height: 50px;
	text-align: center;
	margin-top: -1px;
	margin-left: 10px;
}
.cart-section .cart-img-section i{
	font-size: 20pt;
}
.cart-section .product-count{
	background: none repeat scroll 0 0 black;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	top: 38px;
	right: 155px;
	text-align: center;
	color: #fff;
	display: inline-block;
	opacity: .8;
	position: absolute;
}/** end area compras**/

/** area menu **/
.area-menu{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	
}
.area-menu .collapse ul li a{
	color: #17a2b8;
}
.area-menu .collapse ul li a:hover{
	background-color: #17A2B8;
	color: #fff;
}

/** area slide **/
.carousel{
	padding-bottom: 80px;
}
.carousel .carousel-indicators  li{
	background-color: #17A2B8 ;
	border-radius: 400px ;
	height: 20px;
	width: 20px;
}

/** area das imagens**/
.carousel .carousel-inner .slide1{
	margin-left: 50px;
}
.carousel .carousel-inner .slide2{
	margin-left: 115px;	
}
.carousel .carousel-inner .slide3{
	margin-left: 100px;
}
.carousel .carousel-inner .slide4{
	margin-left: 120px;
}
.carousel .carousel-inner .slide5{
	margin-left: 100px;
}
.carousel .carousel-inner .slide6{
	margin-left: 100px;
}
.carousel .carousel-inner .slide7{
	margin-left: 140px;
}
.carousel .carousel-inner .slide8{
	margin-left: 100px;
}
/** end area imagens  **/
.carousel .carousel-control-prev span{
	font-size: 20pt;
	color: #333;
}
.carousel .carousel-control-next span{
	font-size: 20pt;
	color: #333;
}

/** area promo **/
.area-promo{
	background-color: #fbfbfb;
	color: #fff;
  padding: 40px 0 40px;
}
.area-promo .sigle-promo{
	font-size: 25px;
	font-weight: 200;
	padding: 20px 10px;
	text-align: center;
}
.area-promo .sigle-promo i{
	font-size: 50px;
}
.area-promo .promo1{background-color: #17A2B8;}
.area-promo .promo2{background-color: #ffd900;}
.area-promo .promo3{background-color: #fa8072;}
.area-promo .promo4{background-color: #4abebd;}
.area-promo .sigle-promo:hover{color:#fff; background-color: #333;}
/** end area promo **/


